*{
  width: calc(100vw-17px);
}

::-webkit-scrollbar-track{
  margin-left: -17px;
}

::-webkit-scrollbar-thumb{
  background-color: #f0f0f0;
  margin-left: -17px;
}

::-webkit-scrollbar{
  margin-left: -17px;
}

.App {
  text-align: center;
  display: grid;
}


.templater__cleaner:hover{
  background-color: grey;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.templater__cleaner{
  position: fixed;
  bottom: 0;
  width: 100%;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  border: none;
  font-weight: bolder;
  font-size: 20px;
  height: 50px;
  cursor: pointer;
}